$primary-light-color: #ffffff;
$secondary-light-color:#999999;
$primary-black-color:#333333;
$primary-accent-color:#fce38a;
$secondary-accent-color:  #f38181;
$third-accent-color:#f6a1a1;
$bg-color:#95e1d3;
$primary-border-color:#e7e7e7;
$secondary-border-color:#e5e5e5;


@import './fonts';

$primary-font-title:'Montserrat-Bold';
$primary-font-subtitle:'Kaushanscript-Regular';
$secondary-font-title:'Montserrat-Regular';
$primary-font-txt: 'Roboto-Regular';
$secondary-font-txt: 'Roboto-Light';
