html{
    box-sizing: border-box;
    font-family:'Playfair Display', serif;
    color: #626262;
    max-width: 901px;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
}
.site-navigation{
    margin-bottom: 105px;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}
.site-navigation li{
    display: inline-block;
    padding: 0;
    font-size: 14px;
    
}
.site-navigation li:not(:last-child){
    margin-right: 110px;

}
.site-navigation a{
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;


}.site-navigation a:hover{
    color: #03a9f4;
}
main{
    margin: 0;
    padding: 0;
}
section{
    margin: 0;
    padding: 0;
    font-size: 0;
}
main section:not(:last-of-type){
    margin-bottom: 135px;
}
 main section:last-of-type{
    margin-bottom: 60px;
 }

section div{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;  
}
 
img{
    display: block;
    margin: 0;
    padding: 0;
}

.content{
    width: 420px;
    text-align: justify;
    padding: 0;
    word-spacing: 0;
}
section .content:not(:last-child){
margin-right: 60px;
}
.txt{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 30px;
    line-height: auto;
    margin: 0;
    padding: 0;
   
}
p{
    margin: 0;
    padding: 0;
}
button{
    display: block;
    font-size: 20px;
    line-height: 1;
    height: 63px;
    width: 166px;
    margin: 0 auto;
    color: #626262;
    border: 1px black solid; 
    padding: 0;
    background: inherit; 
}
