.block-overlay{
    width: 380px;
    height: 470px;
    position: absolute;
    background-image: linear-gradient( to top, #fce38ae6, #f38181e6);
    transform: translate(0,0);
    opacity: 0;
    left: 0;
    top: 0;
    
  
}
 