
.our-team__title{
    margin: 0 0 82px;
}

.our-team__txt{
    text-align: center;
    padding: 0 130px;
    margin: 0 0 88px;

}
.our-team__galery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.our-team__item{
    width: 380px;
    position: relative;
        &:hover .block-socials{
            opacity: 1;
        }
        &:hover .block-overlay{
            opacity: 1;
            transform: translate(-10px,-10px);
            transition-property:transform ;
            transition-duration: 200ms;
            transition-timing-function: linear;
        }
        &:hover .our-team__img{
            transform: translate(-10px,-10px);
            transition-property: transform;
            transition-duration: 200ms;
            transition-timing-function: linear;
        }
}
.our-team__person{
    margin:0 0 28px;
    background: $bg-color;

}
.our-team__img {
    display: block;
    width: 380px;
    height: 470px;
 }

.our-team__name{
    font-family: $secondary-font-title, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:$primary-black-color;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 6px;
}
.our-team__occupation{
    font-family: $secondary-font-txt, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:$secondary-light-color;
    font-style: italic;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin: 0;
}
