.our-team{

    &__title{
        margin: 0 0 82px;
    }
        &__txt{
            text-align: center;
            padding: 0 130px;
            margin: 0 0 88px;
        }
            &__galery{
                @extend %flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
            }
                &__item{
                    width: 380px;
                    position: relative;

                        &:hover .block-socials{
                            opacity: 1;
                        }
                        &:hover .block-overlay{
                            opacity: 1;
                            transform: translate(-10px,-10px);
                            transition-property:transform ;
                            transition-duration: 200ms;
                            transition-timing-function: linear;
                        }
                        &:hover .our-team__img{
                            transform: translate(-10px,-10px);
                            transition-property: transform;
                            transition-duration: 200ms;
                            transition-timing-function: linear;
                        }
                }        
                        &__person{
                            margin:0 0 28px;
                            background: $bg-color;
                        }
                                
                            &__img {
                                display: block;
                                width: 380px;
                                height: 470px;
                            }
                                
                                &__name{
                                    font-family: $secondary-font-title, sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color:$primary-black-color;
                                    text-align: center;
                                    text-transform: uppercase;
                                    margin: 0 0 6px;
                                }    
                                        
                                    &__occupation{
                                                                        font-family: $secondary-font-txt, sans-serif;
                                        font-size: 15px;
                                        font-weight: 300;
                                        color:$secondary-light-color;
                                        font-style: italic;
                                        letter-spacing: 0;
                                        line-height: 24px;
                                        text-align: center;
                                        margin: 0;
                                    }
                                   

                                
                            
                        
                        
                
            
        
        
    

}






