
.services{
    margin-bottom: 88px;
}

.services__title{
    margin: 0 0 102px; 

}

.subsection-services{
    display:flex;
    min-height:246px ;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    align-content: space-between;

}
.services__item{
    width: 290px;
    margin: 0;
    padding-left: 70px;
    position: relative;

}
.services__icon::before{
    content: '';
    display: block;
    height: 80px;
    width: 68px;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 2px;
    left: -6px;
  
}
.services__icon-icon1::before{
    background-image: url(../images/services-icons/1.png);
}
.services__icon-icon2::before{
    background-image: url(../images/services-icons/2.png);
}
.services__icon-icon3::before{
    background-image: url(../images/services-icons/3.png);
}
.services__icon-icon4::before{
    background-image: url(../images/services-icons/4.png);
}
.services__icon-icon5::before{
    background-image: url(../images/services-icons/5.png);
}
.services__icon-icon6::before{
    background-image: url(../images/services-icons/6.png);
}
.services__short-title{
    font-family: $secondary-font-title, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $primary-black-color;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 0 12px;
}