.subtitle{
    font-family: $primary-font-subtitle, cursive;
    font-size: 24px;
    font-weight: 400;
    color:$primary-black-color;
    text-align: center;
    letter-spacing: 0;
    margin: 0 0 12px;
}