.block-welcome{

    &__subtitle{
        font-family: $primary-font-subtitle, sans-serif;
        font-size: 72px;
        color: $primary-light-color;
        letter-spacing: 0;
        text-transform: capitalize;
        text-align: center;
        padding: 0;
        margin: 0 0 50px;
    }
       &__title{
            @extend %primary-fc;
            font-size: 150px;
            line-height: 120px;
            text-align: center;
            text-transform: uppercase;
            padding: 0 180px;
            margin: 0 0 136px;
       }
                
        &__button{
            width: 160px;
            display: block;
            @extend %primary-fc;
             font-size: 14px;
            text-align: center;
             margin: 0 auto;
            padding: 10px 28px;
             border:3px #fff solid;
             background: inherit;
             cursor: pointer;
                }

}




