.header{
    padding: 24px 6px 228px;
    background: linear-gradient( to top, rgba(252, 227, 138, 0.902), rgba(243, 129, 129, 0.902)), url(../../images/bg-img/image.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}