.header{
    padding: 24px 6px 228px;
    background: linear-gradient( to top, #fce38ae6, #f38181e6), url(../../images/bg-img/image.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}